# OS or Editor folders
.idea/
.DS_Store
._*
Thumbs.db
.vscode/

#
*.log
tmp
.map
.settings
dummy.js

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
BithumbShit/

# keys
tokens.js
credentials/
